@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-shadow-custom {
	filter: drop-shadow(0 1px 20px rgb(0 0 0 / 0.5));
}

.text-shadow-custom {
	text-shadow: 2px 2px 6px rgb(0 0 0 / 0.3);
}

.bg-image-hero {
	background-image: url('./assets/img/hero.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: -40rem;
}

.bg-image-contact {
	background-image: url('./assets/img/contact.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.bg-image-map {
	background-image: url('./assets/img/google_maps.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.triangle-1 {
	background: rgb(0, 0, 0);
	background: linear-gradient(
		133deg,
		rgba(0, 0, 0, 1) 5%,
		rgba(217, 217, 217, 1) 35%,
		rgba(217, 217, 217, 0) 100%
	);
	clip-path: polygon(45% 0, 0 0, 0 100%);
	opacity: 0.5;
}
.parallel {
	clip-path: polygon(68% 0%, 75% 0%, 8% 100%, 0% 100%);
	background: rgb(0, 0, 0);
	background: linear-gradient(
		113deg,
		rgba(0, 0, 0, 0.5) 40%,
		rgba(217, 217, 217, 0.1) 45%,
		transparent 100%
	);
}

.form-shadow {
	background: linear-gradient(
		to top,
		rgba(231, 78, 56, 1) 0%,
		rgba(231, 78, 56, 0.9) 50%,
		rgba(231, 78, 56, 0.7) 65%,
		transparent 100%
	);
}

.form-shadow-2 {
	background: linear-gradient(to bottom, #e84e38 0%, transparent 100%);
}

@media screen and (min-width: 768px) {
	.parallelogram {
		clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
	}
	.bg-image-hero {
		background-position: bottom;
	}
}
